body {
  font-family: "微软雅黑", sans-serif;
  margin:0px;
  height: 100%;
}
html{
    height: 100%;
}

*{
    margin: 0;
    border: 0;
    outline: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease-in;
}
a{
    text-decoration: none;
}
.navbar{
  width:100%;
  height:60px;
  background-color:#522e91;
  position:fixed;
  top:0px;
  z-index: 1;
}
#container{
  height:100%;
  width:80%;
  margin: 0 auto;
}
#logo{
  width:190px;
  height: 100%;
  float: left;
  margin:0px 20px ;
}
#logo:hover{
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-name: swing;
    animation-name: swing;
}
#logo a{
    font-size: 35px;
    width: 100%;
    height: 100%;
    color: #000;
    line-height: 60px;
}
#logo a span{
    color: #13A1C2;
}
#logo-img{
    width: 100%;
    height: 100%;
}
#navoption,#optionslide{
  list-style: none;
  float:right;
  margin:0px;
  padding:0px 20px;
  color: #fff;
}
#optionslide{
  display: none;
}
 #optionslide li a{
     display: block;
     width: 100%;
     height: 100%;
 }
.intro-option,.topoption{
  vertical-align: top;
  text-align: center;
}
.topoption{
  width:80px;
  height:60px;
  line-height: 60px;
  display: inline-block;

  cursor: pointer;
}
.topoption a{
    color: #fff;
    transition: color 0.5s;
    -o-transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
}
.topoption:hover a{
  color:#13A1C2;
}
#brief-intro{
  position: relative;
  width:100%;
  height:100%;
  padding:0px;
  background-size: cover;
}
.cover{

    z-index: -1;
    position: absolute;
    filter:blur(10px);
    -webkit-filter:blur(10px);
    -moz-filter:blur(10px);
    -ms-filter:blur(10px);
    -o-filter:blur(10px);

    width: 100%;
    height: 100%;
}
#topic{
  width:70%;
  margin:  0 auto;
  font-size: 9em;
  text-align: center;
  padding-top: 200px;
}
#topic span{
    color: #522e91;
}
.intro-p{
    width:70%;

    font-size: 2em;
    text-align: center;
  margin: 30px auto 50px;
}

.intro-option{
  width:220px;
  height:80px;
  background-color: #522e91;
  text-align: center;
  border-radius: 10px;
  line-height: 80px;
  cursor: pointer;
  margin:0px auto;
  font-size: 30px;
  transition: all 0.5s;
  opacity: 0.9;
  color: #fff;
}
.intro-option a{
    width: 100%;
    height: 100%;
    display: block;
    color: #fff;
}
.intro-option:hover{
    color: #13A1CB;
    background: rgb(66, 37, 116);
}
#real-intro{
    width:100%;
    height:600px;
  background-color: #522e91;
  margin:auto;
}
#intro-main{
    width: 80%;
    margin: 0 auto;
    height: 100%;
    padding: 60px 0;
    overflow: hidden;
    position: relative;
}
#intro-main>div{
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  opacity: 0;
}
#right{
    float: right;
  word-break: break-all;
  width:45%;
  float: right;
  line-height: 30px;
  color: #fff;
}
#right h2{
    margin-bottom: 20px;
}
#left{
float: left;
  width:45%;
  height: 100%;
  float: left;
}
#left img{
    width: 100%;
    height: 100%;
}
.title{
  text-align: center;
}
#detail{
    width:100%;
    height:450px;
  background-color: #fff;
  padding:20px 0px;
  color: #522e91;
}
.detail-part{
    margin: 35px 0;
    opacity: 0;
}
.detail-part label div{
    width: 300px;
    max-width: 300px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /*border: 1px solid transparent;*/
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;

    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.detail-part label{
    display: block;
    margin: 0 auto;
    max-width: 400px;
    line-height: 35px;
    font-size: 20px;
}
#scheduleboard{
  width:75%;
  margin:50px auto;
  border: 1px solid #fff;
  border-collapse: collapse;
}



#contact{
  width:100%;
  height:200px;
  background-color: #522e91;
  padding:5px 0px;
}
#navoption-mobile{
  display: none
}
.fadein{
  animation:fadein 1s;
  animation-fill-mode: forwards;
  animation-iteration-count:1;
  -webkit-animation:fadein 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count:1;
  position:relative;
  left:20px;
}
@media screen and (max-width:1050px) {
    #topic{
        font-size: 7em;
    }
    #real-intro{
        height: 450px;
    }
}
@media screen and (max-width:840px){
    #topic{
        font-size: 5em;
    }
  #navoption{
    display: none
  }
  #intro-main{
      width: 95%;
  }
  #intro-main>div{
      width: 47%;
  }
  #navoption-mobile{
    display: block;
    float:right;
    line-height: 40px;
    cursor: pointer;
    width:20px;
    margin:10px;
  }
  .mobile-option{
    width:100%;
    cursor:pointer;
    background-color: #522e91;
    height:40px;
    text-align: center;
    line-height: 40px;
    border:1px solid #fff;
    border-bottom: 0px;
  }
  #optionslide{
    transition: height 0.5s;
    -o-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -webkit-transition: height 0.5s;
    width:100%;
    height: 0px;
    display: block;
    overflow: hidden;
    position:relative;
    padding: 0;
    margin-top: 0;
  }
  #optionslide li{
      height: 50px;
      width: 100%;

      float: none;
      display: block;
      background-color: #522e91;

  }
  #logo a{
      line-height: 50px;

  }
  #logo{
    width:auto;
    height:40px;
  }

  .navbar{
    height:50px;
  }


  #contact{
    padding:2px 0px;
  }

}
@media screen and (max-width:730px){
    #container,#topic,.intro-p{
        width: 100%;
    }
    #topic{
        font-size: 4em;
    }
    .intro-p{
        font-size: 20px;
    }
    .intro-option{
        width: 150px;
        height: 60px;
        line-height: 60px;
        border-radius: 5px;
        font-size: 25px;
    }
}
@media screen and (max-width:660px){
    #real-intro{
        height: 700px;
    }
    #intro-main{
        padding: 10px 0;
    }
    #intro-main>div{
        width: 100%;
        float: none;
        height: 320px;
        margin-bottom: 25px;
    }
}
@media screen and (max-width:400px){
    .detail-part label{
        width: 90%;

    }
    .detail-part label div{
        width: 100%;
        max-width: none;
    }
    #detail{
        height: 580px;
    }
}
@media screen and (max-width:330px){
    #topic{
        font-size: 3em;
    }
}
@keyframes fadein{
  0%{
    opacity:0;
    transform:translate(0px);
  }
  100%{
    opacity:1;
    transform:translate(-20px);
  }
}
@-o-keyframes fadein{
  0%{
    opacity:0;
    -o-transform:translate(0px);
  }
  100%{
    opacity:1;
    -o-transform:translate(-20px);
  }
}
@-webkit-keyframes fadein{
  0%{
    opacity:0;
    -webkit-transform:translate(0px);
  }
  100%{
    opacity:1;
    -webkit-transform:translate(-20px);
  }
}
@-moz-keyframes fadein{
  0%{
    opacity:0;
    -moz-transform:translate(0px);
  }
  100%{
    opacity:1;
    -moz-transform:translate(-20px);
  }
}
@-ms-keyframes fadein{
  0%{
    opacity:0;
    -ms-transform:translate(0px);
  }
  100%{
    opacity:1;
    -ms-transform:translate(-20px);
  }
}


@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
.swing {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
}
.animated{
    transition: all 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
