<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>hackday宣传页</title>
    <link href="/static/css/style.css" rel="stylesheet">
	<link href="/static/css/vendor.css" rel="stylesheet">
    <script src = "/static/js/code.js"></script>
    <script src = "/static/js/changeText.js"></script>
    <script src = "/static/js/ajax.js"></script>
</head>

<body>
<div id="app-container" style="display: ">
	<div id="progress-bar">
		<div class="indicator">
		</div>
	</div>
	<div id="head">
		<div class="tab">ZiQiang hackday</div>
	</div>
	<div id="main" class="terminal">
		<div id='start'>
		    请按Enter开始
		</div>
		<div id="content">
		</div>
		<canvas id="foreground-layer" width="0" height="0"></canvas>
	</div>
	<div id="action-bar" class="hide show">
		<div class="enter-btn" id = "btn" >enter</div>
	</div>
</div>


</body>
</html>	
