<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Made with Thimble</title>
  <link rel="stylesheet" href="/static/css/style-1.css">
</head>
<body>
  <div class="navbar animated">
    <div id="container" class="topbar">
        <div id="logo"  class="animated">
            <a href="#brief-intro">hack {<span>自强</span>}</a>
        </div>
      <ul id="navoption">
        <li class="options topoption"><a href="#real-intro">简介</a></li>
        <li class="options topoption"><a href="#detail">活动详情</a></li>
        <li class="options topoption"><a href="#contact">联系我们</a></li>
      </ul>
      <img src="/static/img/menu.png" id="navoption-mobile"/>
      <ul id="optionslide">
          <li class="options topoption"><a href="#real-intro">简介</a></li>
          <li class="options topoption"><a href="#detail">活动详情</a></li>
          <li class="options topoption"><a href="#contact">联系我们</a></li>
      </ul>
    </div>
  </div>
  <div id="brief-intro" name="main">
      <img src="/static/img/back2.jpg" class='cover' alt="">
    <p  id="topic">hack {<span>自强</span>}</p>
    <p class="intro-p">
        <span>
            It’s amazing
        </span>
        <span> —自强hack day征集令</span>
    </p>
    <div class="intro-option">
        <a href="/signup">这是选项</a>
    </div>
  </div>
  <div id="real-intro" name="intro">
      <div  id="intro-main">
          <div id="left"  class="">
              <img id="left-img" src="/static/img/heitu.jpg"/>
          </div>
          <div id="right" class="">
            <h2>
                什么是hack day？
            </h2>
            <p>
                每年我们都会抽出24小时的时间，让一群产品狗，程序猿，设计狮汇聚一堂，组成一个个新的团队，将头脑风暴中稀奇古怪的点子，日思夜想的产品变成现实。在这有限的24小时中，我们希望大家能够迸发自己的创造力，互相增进了解，学会进行团队合作开发，最后完成一款炫酷的产品。
It's amazing so amazing.
                这是我们去年举办的hackday，左图呢就是当时第二天中午大家一起展示作品的时候的画面

            </p>
          </div>
      </div>
  </div>

  <div id="detail" name="schedule">
    <h2 class="title">
      ZQ hackday 详细信息
    </h2>
    <div id="date" class="detail-part animated"><label>活动时间：<div type="button">3月26日-3月27日</div></label></div>
    <div id="place" class="detail-part animated"><label>活动地点：<div type="button">一站式中心</div></label></div>
    <div id="people" class="detail-part animated"><label>参与对象：<div>本次活动报名面向所有有兴趣的人（会根据简历适当筛选）</div></label></div>
    <div id="prize" class="detail-part animated"><label>评选设置：<div>最佳产品，最佳设计，最佳技术</div></label></div>
  </div>
  <div id="contact">
    <h2 class="title contact">
      联系我们：这是联系方式
    </h2>

  </div>
</body>
<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
<script src="/static/js/script-1.js"></script>
</html>
